<header>
  <h1 class="header-title">
    Menu Principal
  </h1>
  
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="part >= 3 && isAuth">
      <a class="header-link" routerLink="/all-projet" routerLinkActive="active">Référentiel de projets</a>
      
    </li>
    <li class="header-navigation-item" *ngIf="part >= 3 && isAuth && currentrole === 'admin'">
      <a class="header-link" routerLink="/users-list" routerLinkActive="active">Liste des utilisateurs</a>
    </li>
    
    
    <li class="header-navigation-item" *ngIf="part >= 3 && isAuth && currentrole === 'admin'">
      <a class="header-link" routerLink="/new-project" routerLinkActive="active">Nouveau projet</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && isAuth)">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">DECONNEXION</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && !isAuth)">
      <a class="header-link" routerLink="/auth/login" routerLinkActive="active">CONNEXION</a>
    </li>
    <li class="header-navigation-item" *ngIf="(part >= 3 && !isAuth)">
      <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">INSCRIPTION</a>
    </li>
  </ul>
  <ul class="header-navigation nav-end">
    
  </ul>
</header>
<div class="hero-image" *ngIf="mode === 'list'">
  <h2 class="hero-text">
    
  </h2>
</div>
