.header {
    padding: 20px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
  }
  .navbar-brand {
    background-position: center center; background-size: cover; 
     background-image: url('../../assets/company_logo.jpg');
     
     font-size: 25px;
   
   }
   .navbar {
     padding: 0px;
     margin: 0;
   }