.footer {
    padding: 5px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
    bottom: 0;
    width: 100%;
  }
  
   .navbar {
     padding: 0px;
     margin: auto;
     width: 100%;
   }