<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>

 <div><h2><div style="background-color: white;
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
width: 40%;
border: 3px solid lightpink;
padding: 10px;">Données utilisateur</div></h2><div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    
      margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">
  
  <p> Prénom : {{user.lastname}}</p>
 <p> Nom: {{user.firstname}} </p>
<p> Fonction: {{user.fonction}}</p>
 <p> Direction: {{user.direction}}</p></div>
  </div>
     
    
  
  <div style="position: relative;
  text-align: center;
  
  margin: auto;"><button type="button" class="btn btn-warning" (click)="getNavigation('modify-user', user._id)">Modifier</button></div>
  <div style="position: relative;
  text-align: center;
  
  margin: auto;"><button type="button" class="btn btn-danger" (click)="onDelete()">Supprimer</button></div>
</div>