<mat-spinner *ngIf="loading"></mat-spinner>

<p class="text-center" style="color: red;" *ngIf="users.length <= 0 ">You don't have enough permission to perform this action!!</p>
<div class="users-grid" >
  <h2 class="text-center" > Liste des utilisateurs</h2>
  
  
  <table class="table table-striped">
    <thead>
    <tr>

      <th>#</th>
      <th>Firstname</th>
      
      <th>Lastname</th>
      <th>Fonction</th>
      <th>Direction</th>
      
      <th>Role</th>
      
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">

      <td>{{user._id}}</td>
      <td>{{user.firstname}}</td>
      

      <td>{{user.lastname}}</td>
      <td>{{user.fonction}}</td>
      <td>{{user.direction}}</td>
      
      <td>{{user.role}}</td>
      
      
      <td>  <button type="button" class="btn btn-success" (click)="getNavigation('view-user', user._id)">View</button></td>
      
        
    </tr>
    </tbody>
  </table>
</div>
