<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
 


  <body>
    <div id="loader" *ngIf="loading"></div>
    <div class="container" *ngIf="!loading">
      
      <form [formGroup]="loginForm">
        <div class="row">
          <h2 style="text-align:center">Connectez vous avec vos réseaux sociaux ou manuellement</h2>
          <div class="vl">
            <span class="vl-innertext">OU</span>
          </div>
    
          <div class="col">
            <a href="#" class="fb btn">
              <i class="fa fa-facebook fa-fw"></i> Connectez vous avec  Facebook
             </a>
            <a href="#" class="twitter btn">
              <i class="fa fa-twitter fa-fw"></i> Connectez vous avec Twitter
            </a>
            <a href="#" class="google btn"><i class="fa fa-google fa-fw">
              </i> Connectez vous avec  Google+
            </a>
          </div>
    
          <div class="col">
            <div class="hide-md-lg">
              <p>Ou Connectez vous manuellement:</p>
            </div>
    
            <input type="email" formControlName="email" placeholder="Email" required>
            <input type="password" formControlName="password" placeholder="Mot De Passe" required>
            <input type="submit" value="Login" (click)="onLogin()" [disabled]="loginForm.invalid">
          </div>
          
        </div>
      </form>
    
      <p>{{ errorMessage }}</p>
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a routerLink="signup" routerLinkActive="active" style="color:white" class="btn">Inscrivez Vous</a>
        </div>
        <div class="col">
          <a  style="color:white" class="btn">Mot de Passe Oublié?</a>
        </div>
      </div>
    </div>
  </div>
    </body>