<div class="back-image"> 
<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>

  
    <div><h1>
      <div style="background-color: white ;
      text-align: center;
      margin: auto;
    width: 60%;
    border: 3px solid lightgrey;
    padding: 10px;">Titre du projet</div>
    <div style="background-color: lightskyblue;
    color: white;
    text-align: center;
    margin: auto;
  width: 60%;
  border: 3px solid lightgrey;
  padding: 10px;"> {{project.title}}</div>
  </h1></div>
    <div >
    <h2><div style="background-color: white;
    color: black;
    text-align: center;
    position: relative;
    margin: auto;
  width: 40%;
  border: 3px solid lightpink;
  padding: 10px;">
      Informations supplémentaires </div> </h2>
      <div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    
      margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">
      <p>chef du projet:  {{project.chef}}</p> 
      <p>PMO du projet: {{project.pmo}}</p>
      <p>Echéance du projet:  {{project.echeance}}</p>
      <p>Pôle du projet:  {{project.pole}}</p>
      <p>Structure du projet:  {{project.structure}}</p>
      </div></div>
       <div>     
      <h2><div style="background-color: white;
      color: black;
      position: relative;
      text-align: center;
      
      margin: auto;
    width: 40%;
    border: 3px solid lightpink;
    padding: 10px;">
        Reste à faire du projet </div> </h2>
        
        <div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    position: relative;
    margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">  {{project.resteafaire}}
      </div> 
    </div>
    <div><h2><div style="background-color: white;
      color: black;
      position: relative;
      text-align: center;
      
      margin: auto;
    width: 40%;
    border: 3px solid lightpink;
    padding: 10px;">Avancement du projet</div></h2><div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    position: relative;
    margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">{{project.avancement}}</div></div>
     <div><h2><div style="background-color: white;
      color: black;
      position: relative;
      text-align: center;
      
      margin: auto;
    width: 40%;
    border: 3px solid lightpink;
    padding: 10px;">Fiche du projet</div></h2><div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    position: relative;
    margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">{{project.ficheurl}} <a href={{project.ficheUrl}} target="_blank">Apercu de la fiche du projet</a></div></div>   
       <div><h2><div style="background-color: white;
        color: black;
        position: relative;
        text-align: center;
        
        margin: auto;
      width: 40%;
      border: 3px solid lightpink;
      padding: 10px;">Blocages ou Risques</div></h2><div style="background-color: rgba(167, 194, 211, 0.774);
      color: black;
      text-align: center;
    position: relative;
    margin: auto;
    width: 40%;
    border: 3px solid rgb(62, 63, 60);
    padding: 10px;">{{project.blocage}}</div></div>
        
        
        
     
      
     
      
    
  
  <div style="position: relative;
  text-align: center;
  
  margin: auto;"><button style="width: fit-content; position: relative;margin: auto;"type="button" class="btn btn-warning" (click)="getNavigation('update', project._id)">Modifier</button></div>
  <div style="position: relative;
  text-align: center;
  
  margin: auto;"><button style="width: fit-content; position: relative;margin: auto;"type="button" class="btn btn-danger" (click)="onDelete()">Supprimer</button></div>
</div>
</div>