<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>

  <div style="border: 2px solid #1c75c8; padding: 3px; background-color: #c5ddf6;text-align: center; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
    <h1>
    <strong>Titre du projet</strong>:{{project.title}}
  </h1>
    </div>
    <div style="padding:3px; padding-left:6px; border-left:4px solid #d0d0d0; background-color:#f1f1f1;text-align:center; margin-left:20px; font-style:italic;">
      <strong>Informations supplémentaires</strong>:  <p>chef du projet:  {{project.chef}}</p> <p>PMO du projet: {{project.pmo}}</p>
      <p>Echéance du projet:  {{project.echeance}}</p>
      <p>Pôle du projet:  {{project.pole}}</p>
      <p>Structure du projet:  {{project.structure}}</p>
      </div>
             
      <div style="padding:3px; border:4px inset #4cb3dc;text-align:center; background-color:#a1c2f3;">
        <strong>Informations dynamiques</strong>: <p>Reste à faire:  {{project.resteafaire}}</p>
        <p>Avancement du projet:  {{project.avancement}}</p>
        <p>Fiche du projet:  {{project.ficheurl}} <a href={{project.ficheUrl}} target="_blank">Apercu de la fiche du projet</a></p>
        
        <p>Blocages ou Risques:  {{project.blocage}}</p>
        </div>
     
      
     
      
    
  
  <button type="button" class="btn btn-warning" (click)="getNavigation('update', project._id)">Modifier</button>
  <button type="button" class="btn btn-danger" (click)="onDelete()">Supprimer</button>
</div>
      