<body>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>Agence Virtuelle</h1>      
        <p>C’est quoi une agence virtuelle, quelle est son approche et pourquoi y adhérer ? </p>
      </div>
    </div>
    <div class="container_all">
        
            <p id="intro">
            Macompta est une agence virtuelle de conseil et d’assistance comptable, juridique, fiscale et sociale. L’idée de création de cette agence avec  toute sa philosophie est issue de notre soucis de faire profiter nos clients des avantages des nouvelles technologies d’information et de communication, dont notamment la rapidité, l’efficacité, la fiabilité, la proximité, la minimisation du coût, etc... 
Tout comme notre bureau principal, l’agence virtuelle de Macompta est une vraie agence de conseil et d’assistance comptable, juridique, fiscale et sociale. Tous les deux offrent les mêmes services mais avec des approches différentes.
Toutefois, l’agence virtuelle de Macompta offre d’autres avantages supplémentaires, et nous citons à titre d’exemples 10 bonnes raisons pour la choisir

        </p>
    
    <div class="container">    
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Simplicité d’utilisation</div>
            <div class="panel-body"><img src="../../assets/easy_of_use.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Sans aucune connaissance comptable, vous enregistrez simplement toutes les données concernant votre entité (factures de vente, factures d’achat, banque, caisses…), à travers une interface de saisie personnalisée permettant aux non-comptables de saisir leurs écritures sans connaissances particulières. A titre d’exemple, pour les factures traditionnelles de vente, vous saisissez uniquement  le client (ou vous le choisissez dans une liste de vos clients), la date, le montant hors taxe, la TVA, le timbre et le montant T.T.C.</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-danger">
            <div class="panel-heading">Sécurité</div>
            <div class="panel-body"><img src="../../assets/sécurité.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Toutes les informations saisies sont sauvegardées périodiquement et automatiquement sur divers supports</div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-success">
            <div class="panel-heading">Confidentialité</div>
            <div class="panel-body"><img src="../../assets/confidentialité.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Notre plateforme  vous offre les meilleures garanties en terme de confidentialité et de respect des informations transmises</div>
          </div>
        </div>
        
      </div>
    </div><br>


    <div class="container">    
        
          <div class="col-sm-4"> 
              <div class="panel panel-danger">
                <div class="panel-heading">Disponibilité</div>
                <div class="panel-body"><img src="../../assets/disponibilité.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">L’agence virtuelle de Macompta est ouverte 7j/7 et 24h/24. En conséquence, la saisie de vos informations peut se faire à n’importe quel moment.</div>
              </div>
            </div>
            <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">Proximité</div>
                <div class="panel-body"><img src="../../assets/proximité.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Partout où vous êtes en Tunisie ou dans le monde, Macompta le plus proche cabinet de chez vous.</div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">Garde des documents par vous</div>
                  <div class="panel-body"><img src="../../assets/garde_document.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                  <div class="panel-footer">Etre client de l’agence virtuelle de macompta vous évite de vous décharger den vos documents comptables en les remettant à un cabinet selon le concept habituel (Cabinet présentiel) :  Vous saisissez les informations et vous gardez chez vous vos documents. </div>
                </div>
              </div>
        </div><br>
    
    <div class="container">    
        <div class="row">
            
            <div class="col-sm-4"> 
              <div class="panel panel-danger">
                <div class="panel-heading">Gratuité de saisie</div>
                <div class="panel-body"><img src="../../assets/gratuit.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">En utilisant notre plateforme, vous saisissez GRATUITEMENT vos documents comptables</div>
              </div>
            </div>
            <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">Rapidité</div>
                <div class="panel-body"><img src="../../assets/rapidité.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Vous n'avez pas du temps à perdre ? Nous non plus... Notre plateforme a été conçue de telle sorte les informations sont traitées le plus rapidement possible avec toutes les garanties nécessaire de fiabilité.</div>
              </div>
            </div>
            <div class="col-sm-4"> 
                <div class="panel panel-danger">
                  <div class="panel-heading">Dépôt à distance de vos déclarations fiscales</div>
                  <div class="panel-body"><img src="../../assets/depot distance.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                  <div class="panel-footer">En utilisant la plateforme de Macompta, vous pouvez opter pour la téléliquidation de toutes vos déclarations fiscales. Ce mécanisme consiste à déclarer à distance (par internet) et à payer à la recette des finances. il suffit de nous autoriser à le faire et nous nous occupons du reste.</div>
                </div>
              </div>

              <div class="row">
              <div class="col-sm-6"> 
                <div class="panel panel-success">
                  <div class="panel-heading">Minimisation des coûts</div>
                  <div class="panel-body"><img src="../../assets/cout_reduit.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                  <div class="panel-footer">En utilisant la plateforme de Macompta, vous épargnez beaucoup d’argent en évitant les déplacements, en chargeant l’un de vos agents de faire gratuitement la saisie, et surtout en payant exactement ce qu’il faut payer. Comment ça ? Effectivement, la philosophie de notre agence virtuelle repose sur le fait d’éviter le système de forfait qui, dans tous les cas, lèse ou bien le cabinet ou bien le client. En utilisant notre plateforme, personne n’est plus lésée du fait que nous ne facturons que notre travail effectif valorisé en fonction de nos interventions réellement faites : Nous facturons nos interventions à la minute.</div>
                </div>
              </div>

              <div class="col-sm-6"> 
                <div class="panel panel-success">
                  <div class="panel-heading">Dématrialisation</div>
                  <div class="panel-body"><img src="../../assets/dematrialisation.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                  <div class="panel-footer">Avec ces 3 zéros, macompta participe avec ses clients à la protection de l’environnement:

                    ·         Zéro papier
                    
                    ·         Zéro encre
                    
                    ·         Zéro transport</div>
                </div>
              </div>
            </div>
          </div>
    </div><br><br>
    
</div>
    </body>
