<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body onload="document.getElementById('id01').style.display='block'">
    
  
    <div id="containid" class="w3-container" >
      
      <div id="id01" class="w3-modal">
        
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    
          <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <img src="../../assets/home_background.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            <h4>
              Bienvenue à bord d’un cabinet que vous avez choisi comme « Médecin de famille » de votre entreprise.
              Toute l’équipe du cabinet Macompta  vous souhaite la bienvenue.
              Notre équipe est dotée de compétences dynamiques pour vous assister, au quotidien et sur toute la Tunisie, en matière comptable, fiscale, juridique, sociale, Etc.
              Notre philosophie repose sur le fait que nous n’imposons pas de méthode de travail. Nous nous adaptons à la méthode de travail du client tout en proposant au fur et à mesure des améliorations, raison pour laquelle nous avons créé, outre notre bureau principal, une agence virtuelle.
            </h4>
          </div>
    
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red" id="buttonwelcome">Commencer Votre Navigation</button>
            
          </div>
    
        </div>
      </div>
    </div>
  
  
  
  <div class="actualitycarousel">  
      <h2>Actualités de votre cabinet</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h4>"Actualité 1"<br><span>Autre commentaire</span></h4>
        </div>
        <div class="item">
          <h4>"Actualité 2"<br><span>Autre commentaire</span></h4>
        </div>
        <div class="item">
          <h4>"Actualité 3"<br><span>Autre commentaire</span></h4>
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>
  </div>
  
  <!-- Container (Services Section) -->
  <div class="container-fluid text-center">
      <h2>SERVICES</h2>
      <h4>Qu'est ce que nous offrons?</h4>
      <br>
      <div class="row">
        <a href="#"><div class="col-sm-4">
          <span class="glyphicon glyphicon-list-alt logo-small"></span>
          <h4>comptabilité</h4>
          <p>Tenez votre comptabilité</p>
        </div>
      </a>
      <a href="#">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-euro logo-small"></span>
          <h4>Fiscalité</h4>
          <p>Etablissez vos déclarations fiscales</p>
        </div>
      </a>
      <a href="#">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-bitcoin logo-small"></span>
          <h4>Paie</h4>
          <p>Préparez vos fiches de paie</p>
        </div>
      </a>
      </div>
      <br><br>
      <div class="row">
          <a href="#">
        <div class="col-sm-4_2" >
          <span class="glyphicon glyphicon-flash logo-small"></span>
          <h4>Conseil</h4>
          <p>Demandez un conseil</p>
        </div>
      </a>
      </div>
    </div>
  
    
  
  <!-- Container (expertise areas section) -->
  <div id="expertisecont" class="container-fluid text-center">
    <h2>Domaines D'expertise</h2>
    <h4>Nos interventions se rapportent à tous les services dans les divers domaines de gestion des entreprises dont notamment :</h4>
    <br>
    <div class="row">
      <a href="#"><div class="col-sm-4">
        <span class="glyphicon glyphicon-list-alt logo-small"></span>
        <h4>création</h4>
        <p>Accompagnement à la création d’entreprise</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-list-alt logo-small"></span>
        <h4>Assistance</h4>
        <p>Assistance comptable, juridique, fiscale et sociale</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-list-alt logo-small"></span>
        <h4>Commissariat</h4>
        <p>Commissariat aux comptes</p>
      </div>
    </a>
    </div>
    <br><br>
    <div class="row">
        <a href="#">
      <div class="col-sm-4" >
        <span class="glyphicon glyphicon-list-alt logo-small"></span>
        <h4>Conseil</h4>
        <p>Conseil en gestion et en choix d’investissement</p>
      </div>
    </a>
      <a href="#">
    <div class="col-sm-4" >
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4>Organisation</h4>
      <p>Organisation et mise en place de manuels de procédures et de systèmes d’information</p>
    </div>
  </a>
  <a href="#">
    <div class="col-sm-4" >
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4>Commissariat aux apports</h4>
      <p>Commissariat aux apports et évaluation</p>
    </div>
  </a>
  </div>
  <div class="row">
    <a href="#">
  <div class="col-sm-4" >
    <span class="glyphicon glyphicon-list-alt logo-small"></span>
    <h4>Liquidation</h4>
    <p></p>
  </div>
  </a>
  <a href="#">
  <div class="col-sm-4" >
  <span class="glyphicon glyphicon-list-alt logo-small"></span>
  <h4>Etudes</h4>
  <p>Etudes</p>
  </div>
  </a>
  <a href="#">
  <div class="col-sm-4" >
  <span class="glyphicon glyphicon-list-alt logo-small"></span>
  <h4>Formation</h4>
  <p>Formation</p>
  </div>
  </a>
  </div>
  </div>
  
  <!-- Container (Portfolio Section) -->
  <div class="container-fluid_2 text-center bg-grey">
    <h2>Références</h2><br>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="rounded-circle">
          <img src="../../assets/assad client.png" alt="ASSAD" >
          <p><strong>ASSAD</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="rounded-circle">
          <img src="" alt="Autre partenaire" width="400" height="300">
          <p><strong>Autre partenaire</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="rounded-circle">
          <img src="" alt="Autre partenaire" width="400" height="300">
          <p><strong>autre partenaire</strong></p>
        </div>
      </div>
  </div>
  </div>
  <div id="contactid">
  <router-outlet></router-outlet>
  </div>
      
      
      
  
  
      
    </body>