<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
<body>
    

    <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-5" id="coordon">
            <p>Coordonnées</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Ariana Center-Bureau A318-Ariana</p>
            <p><span class="glyphicon glyphicon-phone"></span>(216) 70 73 13 120</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
          </div>
          
          <div class="col-sm-7">
          <form action="" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
          <h2 class="w3-center">Contactez Nous</h2>
           
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="first" type="text" placeholder="Prénom">
              </div>
          </div>
          
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="last" type="text" placeholder="Nom">
              </div>
          </div>
          
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
              </div>
          </div>
          
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="phone" type="text" placeholder="Téléphone">
              </div>
          </div>
          
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="message" type="text" placeholder="Ecrire ce que vous pensez">
              </div>
          </div>
          
          <p class="w3-center">
          <button class="w3-button w3-section w3-blue w3-ripple"> Envoyer </button>
          </p>
          </form>
        </div>
        </div>
        </div>
</body>