<body>
    <div class="team-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Membres De L'équipe MaCompta</h2>
            <p>Notre cabinet a été créé en 1997 par Fayçal BEN AYED, commissaire aux comptes inscrit au tableau de la compagnie et titulaire du Master C.C.A de l’I.A.E de Lyon 3, et ce, après avoir travaillé dans un cabinet d’expertise comptable de renommée nationale et dans un groupe de sociétés.
                Afin de répondre au mieux à vos attentes et de gérer au plus près vos intérêts, notre cabinet est garnie de compétences dynamiques et réactives pour vous accompagner dans toutes les étapes de la vie de votre entreprise, quelle que soit sa forme.
                Notre principal objectif est d’apporter un haut niveau de qualité à la réalisation de nos missions assuré aussi bien par une formation régulière de notre équipe que par une adaptation permanente de notre organisation et de nos méthodes et approches de travail.
                En 2015, nous avons créé notre bureau virtuel Macompta afin d’être à proximité de tous nos clients.
                Notre cabinet adhère totalement à l’emblème de l’ordre des experts comptables de Tunisie : Science, Conscience et Indépendance.
                </p>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
              <div class="team-member">
                <div class="photo">
                  <img src="" class="img-fluid" alt="image">
                </div>          
                <h3>Fayçal Ben Ayed</h3>
                <hr>
                <h5>Propriétaire</h5>
                <p>commissaire aux comptes inscrit au tableau de la compagnie et titulaire du Master C.C.A de l’I.A.E de Lyon 3, et ce, après avoir travaillé dans un cabinet d’expertise comptable de renommée nationale et dans un groupe de sociétés</p>
                <p><button class="button">Voir CV</button></p>
                <hr>
                <div class="follow-on">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>


        <div class="row">
          
          <div class="col-md-6">
            <div class="team-member">
              <div class="photo">
                <img src="" class="img-fluid" alt="image">
              </div>          
              <h3>Collaborateur 1</h3>
              <hr>
              <h5>Fonction</h5>
              <p>présentation du collaborateur</p>
              <hr>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <div class="photo">
                <img src="" class="img-fluid" alt="image">
              </div>          
              <h3>collaborateur 2</h3>
              <hr>
              <h5>fonction</h5>
              <p>présentation du collaborateur</p>
              <hr>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
